<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css"/>
    <title th:text="${title}">Shelby Company Limited</title>
</head>
<body>

<header th:fragment="header">
    <div>
        <img src="/shelby-company-limited.jpg" style="width: 400px" alt="Logo Shelby Company Limited"><br/>
        <a type="button" class="btn btn-dark" id="main-page" href="/">Strona główna</a>
        <a type="button" class="btn btn-dark" id="contact" href="/contact">Kontakt</a>
    </div>
</header>

<footer th:fragment="footer">
    <p class="footer">©2023 - Wszelkie prawa zastrzeżone</p>
</footer>

</body>
</html>