<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(title='Strona główna - Shelby Company Limited')}">
</head>
<body>

<div th:replace="~{fragments :: header}"></div>

<h2 class="content">Czym zajmuje się firma</h2>

<div class="content">
    <p>Shelby Company Limited jest spółką z ograniczoną odpowiedzialnością należącą do rodziny Shelby. Jest to odnosząca
        sukcesy firma, która rozwija się przez lata 20. XX wieku. Thomas Shelby jest szefem firmy, a jego zastępcą jest
        Polly Gray, która wcześniej była zastępcą skarbnika. Michael Gray jest głównym księgowym, a Lizzie Stark jest
        zastępcą skarbnika. Przed śmiercią John Shelby zapieczętował księgi, zarówno prawne, jak i poza torem. Chociaż
        była to dobrze prosperująca firma, została założona w nadziei na przekształcenie całego biznesu Peaky Blinder w
        legalny naziemny.</p>
</div>

<h2 class="content">Historia firmy</h2>
<div class="content">
    <p>Peaky Blinders zaczynają się rozwijać po 1919 roku, a kiedy Billy Kimber oferuje im pracę w ochronie, firma
        zostaje
        założona, aby ich zyski były legalne i opłacalne. W ramach Shelby Company Peaky Blinders otrzymują od Kimber
        swój
        pierwszy legalny tor wyścigowy.</p>
</div>

<h2 class="content">Dyrektor generalny</h2>
<img class="center" src="/thomas-shelby.png" alt="Thomas Shelby">
<div class="content">
    <p>„Jedna minuta. Minuta żołnierza. W bitwie to wszystko, co dostajesz. Jedna minuta wszystkiego na raz, a wszystko
        przed nią jest niczym. Wszystko po, nic. Nic w porównaniu z tą minutą”.
        — Thomas Shelby</p>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>